@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');



/* @font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/Roboto/RobotoRegular.eot');
    src: url('../fonts/Roboto/RobotoRegular.eot') format('embedded-opentype'),
         url('../fonts/Roboto/RobotoRegular.woff2') format('woff2'),
         url('../fonts/Roboto/RobotoRegular.woff') format('woff'),
         url('../fonts/Roboto/RobotoRegular.ttf') format('truetype'),
         url('../fonts/Roboto/RobotoRegular.svg#RobotoRegular') format('svg');
} */
